.zen
.bun
.npm
.ssh
.var
.pki
.cargo
.cache
.local
.yandex
.rustup
.pgadmin
.profile
.gitconfig

projects/
Documents
Downloads
explicit_filter.restore

.config/*

!.config/hypr
!.config/rofi
!.config/fish
!.config/nvim
!.config/cava
!.config/waybar
!.config/neofetch
!.config/alacritty
!.config/HyprPanel
!.config/zed
!.config/xdg-desktop-portal-kderc
